@media (max-width: 770px) {
  #searchBar {
    width: 80%;
    gap: 10px;
  }
}

@media (max-width: 767px) {
  #searchBar {
    width: 80%;
    margin-top: 200px;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 20px;
  }
  #searchBox {
    gap: 3px;
  }
}
