@media (max-width: 767px) {
  #userBox {
    flex-direction: column;
    height: 200px;
    width: 300px;
  }
  #container {
    margin-bottom: 250px;
  }
  #user {
    align-items: center;
  }
  #navigateButtons {
    top: 100px;
    right: 50px;
  }
}

#userBox {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
